@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.profile {
    background-color: #fff;

    &__header {
        display: flex;
        padding: 14px 16px 28px 19px;
        justify-content: space-between;
    }

    &__header-back-btn {
        cursor: pointer;
    }

    &__header-title {
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
        color: #000000;
    }

    &__sportsman-name {
        text-align: center;
        font-weight: 700;
        font-size: 18px;
        line-height: 25px;
        color: #000000;
    }

    &__sportsman-social-activity {
        text-align: center;
        font-size: 12px;
        line-height: 133%;
        color: #000000;
    }

    &__sportsman-image {
        display: flex;
        justify-content: center;
        cursor: pointer;
    }

    &__sportsman-image img {
        border-radius: 50%;
        width: 100px;
        height: 100px;
    }

    &__personal-info {
        margin-left: 18px;
        margin-right: 10px;
        border-bottom: 1px solid #D4EAFF;
    }

    &__birthday {
        display: flex;
        align-items: center;
        font-size: 14px;
        line-height: 133%;
        color: #000000;
        padding-top: 35px;
        padding-bottom: 10px;
    }

    &__birthday-title {
        margin-left: 14px;
        margin-right: 40px;
    }

    &__phone {
        display: flex;
        font-size: 14px;
        line-height: 133%;
        color: #000000;
    }

    &__phone-title {
        margin-left: 14px;
        margin-right: 30px;
    }

    &__mail {
        display: flex;
        align-items: center;
        font-size: 14px;
        line-height: 133%;
        color: #000000;
        padding-top: 5px;
        padding-bottom: 24px;
    }

    &__mail-title {
        margin-left: 10px;
        margin-right: 12px;
    }

    &__parents-info {
        display: flex;
        gap: 5px;
        padding-top: 21px;
        padding-bottom: 21px;
        margin-left: 17px;
        margin-right: 20px;
        font-size: 14px;
        line-height: 133%;
        color: #000000;
        border-bottom: 1px solid #D4EAFF;
    }

    &__parents-caption {
        display: flex;
        align-items: flex-start;
        gap: 10px;
    }

    &__parents-contacts {
        margin-left: 78px;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &__achievements-header {
        display: flex;
        padding-left: 17px;
        padding-right: 15px;
        justify-content: space-between;
        align-items: center;
        padding-top: 22px;
        padding-bottom: 12px;
    }

    &__achievements-image {
        height: 25px;
        cursor: pointer;
    }

    &__achievement-caption {
        display: flex;
        gap: 10px;
        align-items: center;
    }

    &__achievements-title {
        font-size: 14px;
        line-height: 133%;
        color: #000000;
    }

    &__achievements-more {
        font-size: 14px;
        line-height: 132%;
        color: #91B3CF;
        cursor: pointer;
    }

    &__achievements-gallery {
        display: flex;
        gap: 5px;
        padding-left: 18px;
        overflow-x: hidden;
        padding-bottom: 20px;
    }

    &__achievements-photo img {
        width: 75px;
        height: 100px;
    }

    &__condition-title {
        font-size: 14px;
        line-height: 133%;
        color: #000000;
        // margin-bottom: 10px;
    }

    &__condition-header {
        border-top: 1px solid #D4EAFF;
        padding-top: 21px;
        margin-left: 17px;
        margin-right: 17px;
        display: flex;
        align-items: center;
        gap: 10px;
        padding-bottom: 15px;
    }

    &__condition-img {
        height: 25px;
    }

    &__condition-item {
        height: 41px;
    }

    &__condition-indicators {
        padding-left: 32px;
        display: flex;
        gap: 4px;
        flex-wrap: wrap;
    }

    &__condition-image {
        height: 88px;
    }

    &__condition-btn {
        margin-top: 21px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        line-height: 133%;
        color: #595959;
        padding-bottom: 20px;
        cursor: pointer;
    }

    &__condition-btn-image {
        height: 15px;
    }

    &__statistics {
        padding-top: 25px;
        margin-left: 20px;
        margin-right: 17px;
        border-top: 1px solid #D4EAFF;
        padding-bottom: 20px;
        border-bottom: 1px solid #D4EAFF;
    }

    &__statistics-header {
        display: flex;
        align-items: center;
        font-size: 14px;
        line-height: 133%;
        color: #000000;
        gap: 13px;
    }

    &__statistics-item-title {
        font-size: 14px;
        line-height: 133%;
        color: #000000;
        padding-top: 7px;
        padding-bottom: 10px;
    }

    &__statistics-chart-title {
        font-size: 12px;
        line-height: 133%;
        color: #000000;
    }

    &__statistics-chart {
        padding-top: 13px;
        margin-left: -15px;
        padding-bottom: 22px;
    }

    &__statistics-chart img {
        width: 350px;
        height: 218px;
    }

    &__statistics-analysis {

        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__reflection {
        margin-left: 17px;
        margin-right: 17px;
        padding-bottom: 20px;
    }

    &__reflection-header {
        padding-top: 22px;
        padding-bottom: 25px;
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 14px;
        line-height: 133%;
        color: #000000;
    }

    &__reflection-image {
        height: 25px;
    }

    &__reflection-date {
        display: flex;
        gap: 9px;
        align-items: center;
        font-size: 12px;
        line-height: 133%;
        color: #000000;
        margin-bottom: 15px;
    }

    &__reflection-date-choose {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #EBF6FE;
        border-radius: 8px;
        padding: 3px 8px;
        gap: 6px;
        width: 77px;
        color: #454545;
        cursor: pointer;
    }

    &__condition-choose {
        justify-content: center;
        display: flex;
        gap: 36px;
        margin-bottom: 10px;
    }

    &__condition-commentary {
        border: 1px solid #D4EAFF;
        border-radius: 10px;
        padding: 15px;
        margin-top: 10px;
    }

    &__condition-commentary-text {
        font-size: 14px;
        line-height: 132%;
        color: #000000;
    }

    &__condition-card {
        position: relative;
        display: flex;
        flex-direction: column;
        // gap: 29px;
        background: #FFFFFF;

        border-radius: 10px;
        display: flex;
        justify-content: center;
        width: 153px;
        height: 142px;
    }

    &__condition-card-left {
        box-shadow: 0px 3px 16px rgba(0, 0, 0, 0.5);
    }

    &__condition-card-right {
        box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.3);
    }

    &__condition-card-title {
        align-self: center;
        font-size: 12px;
        line-height: 133%;
        text-align: center;
        color: #000000;
        position: absolute;
        bottom: 8px;
    }

    &__condition-cardtwo {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(207.04deg, #F70364 5.05%, #1DC9FE 98.52%);
        box-shadow: 0px 3px 16px rgba(0, 0, 0, 0.5);
        border-radius: 10px;
        width: 153px;
        height: 142px;
    }

    &__condition-number {
        font-weight: 800;
        font-size: 48px;
        line-height: 133%;
        text-align: center;
        background: linear-gradient(100.24deg, rgba(0, 163, 255, 0.93) 17.66%, #F04567 71.13%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
    }

    &__condition-numbertwo {
        font-weight: 800;
        font-size: 48px;
        line-height: 133%;
        /* or 64px */

        text-align: center;

        color: #FFFFFF;
    }

    &__condition-commentary-date {
        display: flex;
        gap: 8px;
        font-size: 12px;
        line-height: 132%;
        color: #A3A3A3;
        justify-content: flex-end;
    }
}

.table-wrapper {
    background-color: #F6FCFF;
    padding-top: 7px;
    padding-bottom: 7px;
}

table {
    font-weight: 400;
    font-size: 12px;
    line-height: 133%;
    color: #000000;
}

th {
    // width: 50%;
    font-weight: 400;
    font-size: 12px;
    line-height: 133%;
    color: #000000;
    border-bottom: 0.8px solid #E9F8FF;
}

td {
    width: 160px;
    // padding-left: 15px;
    padding-top: 5px;
}

th {
    padding-left: 15px;
    text-align: left;
}

.td__content-right {
    text-align: right;
    padding-right: 13px;
}

.td__title {
    padding-left: 15px;
    border-right: 0.8px solid #E9F8FF;
    width: 178px !important;
    text-align: left // padding-right: 10px;
}

.th__right {
    padding-left: 8px;
}

.bold {
    font-weight: 700;
}

.white {
    color: #fff;
}