@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background-color: #F5F5F5;
    font-family: 'Open Sans', sans-serif;
    color: #000;
}

.container {
    background-color: #F5FAFF;
    max-width: 375px;
    width: 100%;
    margin: 0 auto;
}

.news {
    &__header {
        background-color: #fff;
        padding-top: 10px;
        border-bottom: 1px solid #757575;
    }

    &__header-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 7px;
    }

    &__header-img {
        height: 34px;
    }

    &__header-img img {
        width: 34px;
        height: 34px;
    }

    &__header-main {
        display: flex;
        gap: 10px;
        align-items: center;
    }

    &__header-main-title {
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
    }

    &__header-burger {
        display: block;
        position: relative;
        width: 18px;
        height: 16px;
        cursor: pointer;
    }

    &__header-burger::before {
        content: '';
        background-color: #094368;
        position: absolute;
        width: 18px;
        height: 2px;
        left: 0;
        top: 0;
    }

    &__header-burger::after {
        content: '';
        background-color: #094368;
        position: absolute;
        width: 18px;
        height: 1.5px;
        left: 0;
        bottom: 0
    }

    &__header-burger span {
        position: absolute;
        background-color: #094368;
        width: 18px;
        height: 2px;
        left: 0;
        top: 7px
    }

    &__filters {
        display: flex;
        padding-left: 45px;
        gap: 60px;
        padding-bottom: 5px;
    }

    &__filter {
        font-weight: 600;
        font-size: 14px;
        line-height: 110%;
        color: #757575;
        cursor: pointer;
    }

    &__filter.active {
        position: relative;
        color: #404040;

    }

    &__filter.active::after {
        content: '';
        background-color: #094368;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        bottom: -5px;
    }

    &__disciplines {
        background-color: #fff;
        padding-top: 11px;
        padding-left: 16px;
        display: flex;
        gap: 7px;
        padding-bottom: 10px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        overflow-x: hidden;
    }

    &__discipline {
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
    }

    &__discipline-img img {
        border-radius: 50%;
        width: 60px;
        height: 60px;

    }

    &__discipline-img.active img {
        padding: 1px;
        border: 2px solid #1F78B4
    }

    &__discipline-name {
        font-weight: 400;
        font-size: 10px;
        line-height: 132%;
        color: #000000;

    }

    &__item {
        margin-top: 5px;
        padding-top: 11px;
        padding-bottom: 10px;
        background-color: #fff;
        border-radius: 10px;
    }

    &__group-img img {
        border-radius: 50%;
        width: 32px;
        height: 32px;
    }

    &__group-info {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

    &__item-header {
        display: flex;
        justify-content: space-between;
    }

    &__item-header-content {
        display: flex;
        gap: 3px;
        padding-bottom: 8px;
    }

    &__item-header-action {
        cursor: pointer;
    }

    &__group-link {
        font-weight: 600;
        font-size: 14px;
        line-height: 110%;
        display: flex;
        align-items: center;
        color: #094368;
    }

    &__date {
        font-size: 10px;
        line-height: 132%;
        display: flex;
        align-items: center;
        color: #797979;
    }

    &__item-description {
        font-size: 14px;
        line-height: 120%;
        color: #000000;
        padding-bottom: 10px;
    }

    &__item-image {
        position: relative;
        cursor: pointer;
    }

    &__item-image img {

        max-width: 375px;
    }

    &__item-action {
        display: flex;
        gap: 6px;
        padding-top: 5px;
        cursor: pointer;
    }

    &__item-reposts-img {
        height: 16px;
    }

    &__item-action-point {
        display: flex;
        gap: 5px;
        align-items: center;
        justify-content: center;
        width: 62px;
        padding: 5px 10px;
        background-color: #1F78B4;
        border-radius: 10px;
    }

    &__item-likes-img {
        height: 16px;
    }

    &__item-action-count {
        font-size: 14px;
        line-height: 133%;
        // display: flex;
        // align-items: center;
        color: #FFFFFF;
    }

    &__comments-block {
        padding-top: 21px;
    }

    &__comments-count {
        font-size: 14px;
        line-height: 133%;
        color: #ABABB3;
    }

    &__comments-commentary {
        padding-top: 10px;
        display: flex;
        gap: 5px;
    }

    &__comments-author-name {
        font-size: 14px;
        line-height: 133%;
        color: #000000;
        padding-bottom: 4px;
    }

    &__comments-commentary-text {
        font-size: 14px;
        line-height: 133%;
        color: #000000;
    }

    &__comments-author-img img {
        border-radius: 50%;
        width: 34px;
        height: 34px;
    }
}

.grey {
    color: #D5D5D9;
}

.content-wrapper {
    padding-left: 16px;
    padding-right: 18px;
}

.footer {
    border-top: 2px solid #A6CEE3;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.02);
    padding-top: 13px;
    padding-bottom: 17px;

    &__nav {
        display: flex;
        // gap: 38px;
        justify-content: space-between;
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
    }

    &__item-title {
        font-size: 8px;
        line-height: 133%;
        // text-align: center;
        color: #A6CEE3;
    }
}

.live-block {
    position: absolute;
    right: 27px;
    bottom: 6px;
}

.live-block img {
    width: 68px;
}

.blue {
    color: #094368;
}